{% load static %}
{% block body %}

{% include 'user_navigation.html' %}
<style>
    tr{text-align: center;}
</style>
<marquee style="font-family: 'monotype Corsiva';font-size: 25px;color: darkcyan;background-color: black; font-weight: bold;margin-top: 1%;">
    apply for job
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label class="font-weight-bold">upload resume</label>
        <input type="file" class="form-control" name="resume">
    </div>
    <input type="submit" value="submit" class="btn btn-danger mt-3">


</form>
    </div>

    {% if error == 'close' %}
    <script>
        alert('applicatin line are close,last date is over');
        window.location = ("{% url 'user_latestjobs' %}");
    </script>
    {% endif %}
    {% if error == 'notopen' %}
    <script>
        alert('applicatin line  is notopen');
        window.location = ("{% url 'user_latestjobs' %}");
    </script>
    {% endif %}
    {% if error == 'done' %}
    <script>
        alert('job application submited sucessfully');
        window.location = ("{% url 'user_latestjobs' %}");
    </script>
    {% endif %}

{% endblock %}
