{% load static %}
{% block body %}

{% include 'recruiter_navigation.html' %}

<marquee style="font-family: 'monotype Corsiva';font-size: 25px;color: darkcyan;background-color: black; font-weight: bold;margin-top: 1%;">
    change password 
</marquee>
<hr>

<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkPass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true">
    
    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true">

    <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true">

    <input type="submit" class="btn btn-primary" style="margin-top: 2%; color: darkcyan; background-color: black;height: 40px;font-size: 15px;" value="Change Password">
</form>

{% if error == 'no' %}
    <script>
        alert('Your password changed successfully.');
        window.location.href = "{% url 'Logout' %}";
    </script>
{% elif error == 'yes' %}
    <script>
        alert('Something went wrong. Please try again.');
    </script>
{% elif error == 'not' %}
    <script>
        alert('Your current password is incorrect.');
    </script>
{% endif %}

<script>
    function checkPass() {
        var newPassword = document.changepassword.newpassword.value;
        var confirmPassword = document.changepassword.confirmpassword.value;

        if (newPassword !== confirmPassword) {
            alert('New password and confirm password fields do not match.');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

{% endblock %}
