{% load static %}
{% block body %}

{% include 'user_navigation.html' %}
<style>
    tr{text-align: center;}
</style>
<marquee style="font-family: 'monotype Corsiva';font-size: 25px;color: darkcyan;background-color: black; font-weight: bold;margin-top: 1%;">
    job details
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
<div class="row">
    <div class="col-md-4">
        <img src="{{jobs.image.url}}" style="width: 300px;height: 200px;">

    </div>
    <div class="col-md-6">
        <h2>{{jobs.title}}</h2>
        <p>{{jobs.recruiter.company}} <em><a href="{% url 'user_latestjobs' %}">(view all jobs)</a></em></p>
        <a href="{% url 'user_latestjobs' %}"><i class="fa fa-map-marker mr-2"></i>{{jobs.location}}</a>
<br>
<strong><i class="fa fa-money mr-2 mt-2"></i><i class="fa fa-inr mr-2 mt-2"></i>{{jobs.salary}}</strong>

<div class="mt-4">
    <a href="{% url 'applyforjob' jobs.id %}" class="btn btn-danger" style="width: 200px; height: 40px; font-size: 20px;">
        Apply for this job
    </a>
</div>
    </div>

</div>
<div>
    <h4>Overview</h4>
    <p>{{jobs.description}}</p>

    <h4>Required Experience</h4>
    <p>{{jobs.description}} yers</p>

    <h4>Skills Required</h4>
    <p>{{jobs.skills}}</p>

    <h4>Start date for applying</h4>
    <p>{{jobs.start_date}}</p>

    <h4>End date for applying</h4>
    <p>{{jobs.end_date}}</p>
</div>

</div>

{% endblock %}
