16
26 entho prashnam unde serch okka add akkunne athil akkunne
eni 27 chaya
CLASS 29 MODEL CHANGE AKKIKKE 
class 31 kurache dout dlt akkunnena patti
32 password change chat gtp anne view and change admin password mattam varuthi
eni  anne
class 37 mattam varuthi add job full nj  chatgpt anneview and add job html page
<style>
    tr{text-align: center;}
</style>

class 39 to 42 same anne anthe njn chatgpt annepinna 43 anne ane illa eni 44 start akkanam recriter login anne ithe motham
44and 45 are profile update it skip anne next chaythe46
47
49-1336
recruiter joblist dlt